<%- include('./partials/header.ejs') %>
<body>
  <%- include('./partials/navbar.ejs') %>

  <div class="container">
    <hr />
    <h1> Perguntas </h1>
    <hr />
    <a href="/perguntar" class="btn btn-primary">Perguntar</a>
    <hr />
    <% perguntas.forEach( pergunta => { %>
      <br />
   
    <div class="card" id="pergunta-<%=pergunta.id%>" >
      <div class="card-body">
        <h3><%= pergunta.titulo %></h3>
      </div>
      <div class="card-footer">
       <a href="/pergunta/<%=pergunta.id %>" class="btn btn-"><button class="btn btn-primary">Responder</button></a> 
       <button  class="btn btn-danger" type="button" onclick="removerPergunta(<%= pergunta.id %>)">Excluir</button>

      </div>
    </div>
  

    <% }) %>
  </div>

  <script>
    // Função para remover resposta via AJAX
    function removerPergunta(perguntaId) {
      if (confirm("Tem certeza que deseja excluir esta pergunta?")) {
        fetch(`/pergunta/excluir/${perguntaId}`, { method: "DELETE" })
          .then((response) => {
            if (response.ok) {
              // Remove o elemento do DOM
              const perguntaElement = document.getElementById(`pergunta-${perguntaId}`);
              if (perguntaElement) {
                perguntaElement.remove();
              }
            } else {
              alert("Erro ao excluir a pergunta.");
            }
          })
          .catch((error) => {
            console.error("Erro ao excluir a pergunta:", error);
            alert("Erro ao excluir a pergunta.");
          });
      }
    }
  </script>
</body>
<%- include('./partials/footer.ejs') %>
